<!DOCTYPE html>
<html >
<!-- ng-app="phonecatApp" -->
<head lang="ru">
    <meta charset="UTF-8">
     <title>YALIM крутой мессенжер</title>  
<!-- ОБЯЗАТЕЛЬНОЕ ПОДКЛЮЧЕНИЕ ФАЙЛОВ ЗДЕСЬ!!!! -->
    <script src ="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    
</head>
<body >
  <h1>GOOD!!</h1>
<!-- ng-controller ="PhoneListController" -->
    //= template/header.html
    <section class="content">
     <!-- <ul >
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul> -->
        Content
    </section>
    //= template/footer.html
</body>
</html>